
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:white;
    color:grey;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background:white;
}


header {
    text-align: center;
    padding: 20px 0;
    background-color:blue;
    color:white;
}

header h1 {
    margin: 0;
    font: size 30px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color:white;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background:blue;
    border-radius: 3px;
}

article {
    margin: 20px 0;
}

article h2 {
    font: size 20px;
    color:blue;
    margin-bottom: 10px;
}

article img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

article p {
    margin: 10px 0;
    line-height: 1.8;
}

article blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 5px solid blue;
    background:white;
    font-style: italic;
    color:grey;
}

footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    background-color:blue;
    color:white;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    text-decoration: none;
    color:white;
    padding: 5px 10px;
}

footer nav ul li a:hover {
    background:blue;
    border-radius: 3px;
}
